.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  position: relative;
  background: var(--token-Kz0e1lVpvOgzgI);
  min-width: 0;
  border-radius: 15px;
}
.freeBox__bN52G {
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
}
.freeBox__hT0C8 {
  display: flex;
  position: relative;
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 800;
}
.freeBox__ursbv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.trend__uaa4S:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.link {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-ARgrCK4jt495ZD);
  padding: 15px;
  border-top: 1px solid var(--token-rYiRNeggJWAdfQ);
}
